project:
  type: website
  output-dir: _site

website:
  title: "myBlog"
  site-url: "https://yinyunli.github.io/myBlog/"
  navbar:
    left:
      - href: index.qmd
        text: Home
      - about.qmd

format:
  html:
    theme:
      - cosmo
      - brand
    css: styles.css
    toc: true



